/*

!.gitignore
!LICENSE
!CHANGELOG.md
!README.md

!config
config/*

!config/aeronautics_delivery_quests
!config/aeronautics_delivery_quests.toml
!config/afkstatus-server.toml
!config/alexsmobs-common.toml
!config/better-advanced-tooltips-client.toml
!config/bountiful
config/bountiful/*
!config/bountiful/bountiful.json
!config/create_aeronautics_throwable_rope_connector-common.toml
!config/create_connected-common.toml
!config/create-server.toml
!config/create-stuff-additions.toml
!config/dailyshop
!config/molten_vents-common.toml
!config/musketmod.txt
!config/quark-common.toml
!config/solonion.json
!config/spartan_weaponry_unofficial-common.toml

!kubejs
kubejs/*
!kubejs/assets
!kubejs/client_scripts
!kubejs/common_scripts
!kubejs/data
!kubejs/server_scripts
!kubejs/startup_scripts